* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#canvas1 {
  position: absolute;
}

.controls {
  position: absolute;
  z-index: 100;
}

img {
  display: none;
}

button {
  padding: 10px;
  font-size: 30px;
  margin: 10px;
  font-family: "Bangers", system-ui;
  color: white;
  background-color: black;
  transition: all 0.2s ease;
  border: black 1px solid;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}
